<% include ../partials/head %>
<% include ../partials/header %>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-stripped results">
                <thead>
                <tr>
                    <th>
                        <form method="POST" action="active/all" >
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                            <button type="submit" class="btn btn-default">Active all</button>
                        </form>
                    </th>
                    <th>#</th>
                    <th>Task</th>
                    <th>Finished</th>
                    <th>
                        <form method="POST" action="all" >
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                            <button type="submit" class="btn btn-default">Remove all</button>
                        </form>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% var i = 1; %>
                <% tasks.forEach(function(task){ %>
                    <tr>
                        <td>
                            <form method="POST" action="/tasks/active" >
                                <input type="hidden" name="_method" value="put">
                                <input type="hidden" name="_uuid" value="<%= task._uuid %>">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                <button type="submit" class="btn btn-default">Active</button>
                            </form>
                        </td>
                        <td><%= i %></td>
                        <td style="text-decoration: line-through"><%= task.name %></td>
                        <td><%= moment(new Date(task.modified)).format('YYYY-MM-DD HH:mm') %></td>
                        <td>
                            <form method="POST" action="/tasks" >
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_uuid" value="<%= task._uuid %>">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                <button type="submit" class="btn btn-default">Remove</button>
                            </form>
                        </td>
                    </tr>
                <% i++; %>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>

<% include ../partials/footer %>
