<% include ../partials/head %>
<% include ../partials/header %>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <button class="btn btn-default" data-toggle="modal" data-target="#completeAllModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Complete all</button>
                            <% include ../partials/modals/complete_all_tasks %>
                        </li>
                        <li role="presentation">
                            <% include ../partials/forms/task/new %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% if(tasks){ %>
            <% var i = 1; %>
            <% tasks.forEach(function(task){ %>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills">
                                <li role="presentation">
                                   <% include ../partials/forms/task/complete %>
                                </li>
                                <li role="presentation">
                                    <a data-toggle="collapse"  href="#collapse<%= i %>"><b><%= task.name %> <i class="fa fa-caret-down" aria-hidden="true"></i> <span class="badge"><%= task.activeSubtasks %></span></b></a>
                                </li>
                                <li class="pull-right" role="presentation">
                                    <a><%= moment(new Date(task.created)).format('YYYY-MM-DD HH:mm') %></a>
                                </li>
                                <li class="pull-right">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#editModal<%= task._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
                                <% include ../partials/modals/edit_task %>
                                </li>
                                <li class="pull-right">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#reminderModal<%= task._id %>"><i class="fa fa-bell<% if(!task.notifications.length){%>-slash<% } %>-o" aria-hidden="true"></i>Reminder</button>
                                <% include ../partials/modals/reminder_task %>
                                </li>
                            </ul>
                        </div>
                        <div id="collapse<%= i %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <% include ../partials/forms/subtask/new %>
                                <% include ../partials/forms/note/new %>
                               <p><b>Description:</b><%= task.desc %></p>
                                <b>Subtasks:</b>
                                <ul id="<%= task._id %>">
                                    <% task.subtasks.forEach(function(subtask){ %>
                                        <li id="<%= subtask._id %>">
                                            <span <% if(subtask.completed){%>style="text-decoration: line-through"<% } %>><%= subtask.name %></span>
                                            <% if(subtask.completed){%>
                                                <% include ../partials/forms/subtask/active %>
                                                <% include ../partials/forms/subtask/remove %>
                                            <% } else { %>
                                                <% include ../partials/forms/subtask/complete %>
                                            <% } %>
                                        </li>
                                    <% }); %>
                                </ul>
                                <b>Notes:</b>
                                <% task.notes.forEach(function(note){ %>
                                    <li>
                                        <%= note.desc %>
                                        <% include ../partials/forms/note/remove %>
                                    </li>    
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <% i++; %>
            <% }); %>
        <% }; %>
    </div>
    <script src="/js/task.js"></script>
<% include ../partials/footer %>
