<% include ../partials/head %>
<% include ../partials/header %>
  
    <form class="form-group" method="POST" action="/tasks" >
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name='name' value="">
        </div>
        <button type="submit" class="btn btn-default">Add task</button>         
    </form>

    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <form method="POST" action="tasks/complete/all" >
                                 <input type="hidden" name="_method" value="put">
                                 <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                 <button type="submit" class="btn btn-default">Complete all</button>
                             </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% var i = 1; %>
        <% tasks.forEach(function(task){ %>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                           <form method="POST" action="/tasks/complete" >
                                <input type="hidden" name="_method" value="put">
                                <input type="hidden" name="_id" value="<%= task._id %>">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                <button type="submit" class="btn btn-default">Complete</button>
                            </form> 
                        </li>
                        <li role="presentation">
                            <a data-toggle="collapse"  href="#collapse<%= i %>"><b><%= task.name %></b></a>
                        </li>
                        <li role="presentation">
                            <a href="#" role="button" data-toggle="modal" data-target="#editModal<%= task._id %>">Edit</a>
                            <% include ../partials/modals/edit_task %>
                        </li>
                        <li role="presentation">
                            <a href="#" role="button" data-toggle="modal" data-target="#addNoteModal<%= task._id %>">Add</a>
                            <% include ../partials/modals/add %>
                        </li>
                        <li role="presentation">
                            <a><%= moment(new Date(task.created)).format('YYYY-MM-DD HH:mm') %></a>
                        </li>
                    </ul>
                </div>
                <div id="collapse<%= i %>" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><b>Description:</b><%= task.desc %></p>
                        <b>Subtasks:</b>
                        <ul id="<%= task._id %>">
                            <% task.subtasks.forEach(function(subtask){ %>
                                <li>
                                    <span <% if(subtask.completed){%>style="text-decoration: line-through"<% } %>><%= subtask.name %></span>
                                    <% if(subtask.completed){%>
                                        <form style="display:inline" method="POST" action="/subtasks/active" >
                                            <input type="hidden" name="_method" value="put">
                                            <input type="hidden" name="_id" value="<%= subtask._id %>">
                                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                            <button type="submit" class="btn btn-default">Active</button>
                                        </form>
                                    <% } else { %>
                                        <form style="display:inline" method="POST" action="/subtasks/complete" >
                                            <input type="hidden" name="_method" value="put">
                                            <input type="hidden" name="_id" value="<%= subtask._id %>">
                                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                            <button type="submit" class="btn btn-default">Complete</button>
                                        </form>
                                    <% } %>
                                    <form style="display:inline" method="POST" action="/subtasks" >
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="_id" value="<%= subtask._id %>">
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                        <button type="submit" class="btn btn-default">Remove</button>
                                    </form>
                                </li>
                            <% }); %>
                        </ul>
                        
                    </div>
                    <div class="panel-footer">
                        <b>Notes:</b>
                        <% task.notes.forEach(function(note){ %>
                            <li>
                                <%= note.desc %>
                                <form style="display:inline" method="POST" action="/notes" >
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_id" value="<%= note._id %>">
                                    <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                    <button type="submit" class="btn btn-default">Remove</button>
                                </form>
                            </li>    
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <% i++; %>
        <% }); %>
        
    </div>
    <script>
        $(document).ready(function(){
            $('#subtaskForm').submit(function(e){
                e.preventDefault();
                var data = {};
                data.name = $('#subtaskForm input[name=name]').val();
                data._id = $('#subtaskForm input[name=_id]').val();
                data._csrf = $('#subtaskForm input[name=_csrf]').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/subtasks',						
                    success: function(res) {
                        console.log(res.subtask);
                        $('#info').append(res.info);
                        var html = '<li><span>'+res.subtask.name+'</span> ';
                        html += '<form style="display:inline" method="POST" action="/subtasks/complete" ><input type="hidden" name="_method" value="put"><input type="hidden" name="_id" value="'+res.subtask._task+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default">Complete</button></form> ';
                        html += '<form style="display:inline" method="POST" action="/subtasks" ><input type="hidden" name="_method" value="delete"><input type="hidden" name="_id" value="'+res.subtask._task+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default">Remove</button></form></li>';
                        $('#'+res.subtask._task).append(html);
                    }
                });
            });
        });
    </script>
<% include ../partials/footer %>
