<% include ../partials/head %>
<% include ../partials/header %>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <% include ../partials/forms/task/complete_all %>
                        </li>
                        <li role="presentation">
                            <% include ../partials/forms/task/new %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% if(tasks){ %>
            <% var i = 1; %>
            <% tasks.forEach(function(task){ %>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills">
                                <li role="presentation">
                                   <% include ../partials/forms/task/complete %>
                                </li>
                                <li role="presentation">
                                    <a data-toggle="collapse"  href="#collapse<%= i %>"><b><%= task.name %> <i class="fa fa-caret-down" aria-hidden="true"></i> <span class="badge"><%= task.activeSubtasks %></span></b></a>
                                </li>
                                <li class="pull-right" role="presentation">
                                    <a><%= moment(new Date(task.created)).format('YYYY-MM-DD HH:mm') %></a>
                                </li>
                                <li class="pull-right">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#editModal<%= task._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
                                <% include ../partials/modals/edit_task %>
                                </li>
                                <li class="pull-right">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#reminderModal<%= task._id %>"><i class="fa fa-bell-o" aria-hidden="true"></i>Reminder</button>
                                <% include ../partials/modals/reminder_task %>
                                </li>
                            </ul>
                        </div>
                        <div id="collapse<%= i %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <% include ../partials/forms/subtask/new %>
                                <% include ../partials/forms/note/new %>
                               <p><b>Description:</b><%= task.desc %></p>
                                <b>Subtasks:</b>
                                <ul id="<%= task._id %>">
                                    <% task.subtasks.forEach(function(subtask){ %>
                                        <li id="<%= subtask._id %>">
                                            <span <% if(subtask.completed){%>style="text-decoration: line-through"<% } %>><%= subtask.name %></span>
                                            <% if(subtask.completed){%>
                                                <% include ../partials/forms/subtask/active %>
                                                <% include ../partials/forms/subtask/remove %>
                                            <% } else { %>
                                                <% include ../partials/forms/subtask/complete %>
                                            <% } %>
                                        </li>
                                    <% }); %>
                                </ul>
                                <b>Notes:</b>
                                <% task.notes.forEach(function(note){ %>
                                    <li>
                                        <%= note.desc %>
                                        <% include ../partials/forms/note/remove %>
                                    </li>    
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <% i++; %>
            <% }); %>
        <% }; %>
    </div>
    <script>
        document.getElementById("tasks-page").className = 'active-page';
        
        $(document).ready(function(){
            $('.new-subtask').submit(function(e){
                e.preventDefault();
                var data = {};
                data.name = $(this).find('input[name=name]').val();
                data._id = $(this).find('input[name=_id]').val();
                data._csrf = $(this).find('input[name=_csrf]').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/subtasks',						
                    success: function(res) {
                        $('#info').html(res.info);
                        if(res.subtask){
                            var html = '<li id="'+res.subtask._id+'"><span>'+res.subtask.name+'</span> ';
                            html += '<form class="complete-subtask-form" style="display:inline" ><input type="hidden" name="_id" value="'+res.subtask._id+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true">Complete</button></form>';
                            $('#'+res.subtask._task).append(html);
                        }
                    }
                });
            });
            
            $('body').on('submit', 'form.complete-subtask-form', function(e){
                e.preventDefault();
                var data = {};
                data._id = $(this).find('input[name=_id]').val();
                data._csrf = $(this).find('input[name=_csrf]').val();
                $.ajax({
                    type: 'PUT',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/subtasks/complete',						
                    success: function(res) {
                        $('#info').html(res.info);
                        var html = '<span style="text-decoration: line-through">'+res.subtask.name+'</span> ';
                        html += '<form class="active-subtask-form" style="display:inline"><input type="hidden" name="_id" value="'+res.subtask._id+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default">Active</button></form> ';
                        html += '<form style="display:inline" method="POST" action="/subtasks" ><input type="hidden" name="_method" value="delete"><input type="hidden" name="_id" value="'+res.subtask._id+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default">Remove</button></form>';
                        $('#'+res.subtask._id).html(html);
                    }
                });
            });
            
            $('body').on('submit', 'form.active-subtask-form', function(e){
                e.preventDefault();
                var data = {};
                data._id = $(this).find('input[name=_id]').val();
                data._csrf = $(this).find('input[name=_csrf]').val();
                $.ajax({
                    type: 'PUT',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/subtasks/active',						
                    success: function(res) {
                        $('#info').html(res.info);
                        var html = '<span>'+res.subtask.name+'</span> ';
                        html += '<form class="complete-subtask-form" style="display:inline"><input type="hidden" name="_id" value="'+res.subtask._id+'"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true">Complete</button></form>';
                        $('#'+res.subtask._id).html(html);
                    }
                });
            });
        });
    </script>
<% include ../partials/footer %>
