<% include ../partials/head %>
<% include ../partials/header %>

    <div class="row">
        <form method="POST" action="/users" >
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="form-group">
                <label>Nick</label>
                <input type="text" class="form-control" name='nick' value="" autofocus>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name='pass' value="">
            </div>
            <button type="submit" class="btn btn-default">Add new user</button>         
        </form>
    </div>
    
    <div class="row">
        <div class="table-responsive">
            <table class="table table-stripped results">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Password</th>
                    <th>Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <% if(users){ %>
                        <% var i = 1; %>
                        <% users.forEach(function(user){ %>
                            <tr>
                                <td><%= i %></td>
                                <td><%= user.nick %></td>
                                <td><%= user.pass %></td>
                                <td><%= moment(new Date(user.created)).format('YYYY-MM-DD HH:mm') %></td>
                                <td>
                                    <form method="POST" action="/users" >
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="_id" value="<%= user._id %>">
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                        <button type="submit" class="btn btn-default">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        <% i++; %>
                        <% }); %>
                    <% }; %>
                </tbody>
            </table>
        </div>
    </div>

<% include ../partials/footer %>
